<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.qnx.tools.ide.SystemProfiler.neutrino.launch.kerneltrace">
<stringAttribute key="logging.attr.filepath" value="${workspace_loc:qnx_vm}"/>
<stringAttribute key="logging.attr.targetname" value="qnx_vm"/>
</launchConfiguration>
